<div class="container-page">
	<div class="container-card">
		<h2 nz-typography class="container-title">Forgot Password</h2>
		<p nz-typography nzType="secondary" class="container-subtitle">
			Enter your email address and verify to be able to change your password
		</p>

		<div [formGroup]="form" class="container-form" autocomplete="off">
			<div class="form-field">
				<label nz-typography>Email</label>
				<input
					nz-input
					formControlName="email"
					type="email"
					placeholder="name@example.com"
					[nzStatus]="
						form.controls['email'].invalid &&
						form.controls['email'].touched
							? 'error'
							: ''
					"
				/>
				@if (form.controls['email'].hasError('email') &&
				form.controls['email'].touched) {
				<span nz-typography nzType="danger">
					<small>Email is invalid format</small>
				</span>
				}
			</div>

			<div class="action-button">
				<button
					nz-button
					nzType="primary"
					nzShape="round"
					class="btn"
					(click)="verifyEmail()"
					[disabled]="
						form.get('email')?.value?.length === 0 ||
						form.get('email')?.errors !== null
					"
				>
					Verify
				</button>
			</div>

			@if (isVerified()){
			<div class="form-field">
				<label nz-typography>Password</label>
				<input
					nz-input
					formControlName="password"
					type="password"
					placeholder="Create password"
					[nzStatus]="
							form.controls['password'].invalid &&
							form.controls['password'].touched
								? 'error'
								: ''
						"
				/>
				@if (form.controls['password'].touched &&
				form.controls['password'].invalid) {
				<ul class="password-hints">
					@if (form.controls['password'].hasError('required')) {
					<li nz-typography nzType="danger">
						<small>Password is required</small>
					</li>
					} @if (form.controls['password'].hasError('minlength')) {
					<li nz-typography nzType="danger">
						<small>Must be at least 8 characters</small>
					</li>
					} @if (form.controls['password'].hasError('requiresUppercase')) {
					<li nz-typography nzType="danger">
						<small>Must include an uppercase letter</small>
					</li>
					} @if (form.controls['password'].hasError('requiresLowercase')) {
					<li nz-typography nzType="danger">
						<small>Must include a lowercase letter</small>
					</li>
					} @if (form.controls['password'].hasError('requiresNumber')) {
					<li nz-typography nzType="danger">
						<small>Must include a number</small>
					</li>
					} @if (form.controls['password'].hasError('requiresSpecialChar')) {
					<li nz-typography nzType="danger">
						<small>Must include a special character</small>
					</li>
					}
				</ul>
				}
			</div>

			<div class="form-field">
				<label nz-typography>Confirm Password</label>
				<input
					nz-input
					formControlName="confirmPassword"
					type="password"
					placeholder="Confirm password"
					[nzStatus]="
							form.controls['confirmPassword'].invalid &&
							form.controls['confirmPassword'].touched
								? 'error'
								: ''
						"
				/>
				@if (form.controls['confirmPassword'].hasError('confirmPassword') &&
				form.controls['confirmPassword'].touched) {
				<span nz-typography nzType="danger">
					<small>Passwords do not match</small>
				</span>
				}
			</div>

			<div class="action-button">
				<button
					nz-button
					nzType="primary"
					nzShape="round"
					class="btn"
					(click)="changePassword()"
					[disabled]="!form.valid"
				>
					Change Password
				</button>
			</div>
			}
		</div>
	</div>
</div>
